html {
    padding: 5px;
    /*min-width: 1900px;*/
}

.header {
}

.datatable {
    padding-left: 1vw;
    padding-top: 4%;
}

#totals_table {
    vertical-align:middle;
}

#choropleth_abs, #choropleth_perc {
    margin-top: 1vh;
}

.buttons {
    margin-bottom: 1.5vh;
}